.App {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  width: 70%;

  @include breakpoint(medium-high) {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
  }
}

.App-form {
  background-color: #FFFFFF;
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addformGroup {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 1px;
  width: 100%;

  label {
    font-weight: bold;
  }

  input {
    border-radius: 5px;
    border: 1px solid black;
    flex: 2 1 0;
    letter-spacing: 2px;
    margin: 5px 0px;
    padding: 10px;
  }
}

.addformGroup {
  .addformGroup-error-add {
    border: 1px solid red;
  }
}

.addformGroup-error {
  input {
    border-bottom: 1px solid red;
    border-right: 1px solid red;
    border-top: 1px solid red;
  }
}

.formGroup-error {
  color: red;
  font-weight: bold;
}

.disabled {
  opacity: 0.2;
  pointer-events: none;
}

.cursor {
  cursor: pointer;
}

.btn {
  border-color: buttonface;
  border-radius: 20px;
  border: 1px solid;
  color: white;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline:none;
  width: 100%;
}

.primary {
  background-color: #4e73df;
  border-color: #4e73df;
  color: #fff;
}

.imageFormat {
  width: 100%;
}

.App-post {
  margin-top: 15px;
}

.post-title {
  text-align: center;
  h1 {
    margin-top: 0px;
  }
}